<div class="row section_1" id="section_1">
	<div class="col-sm-4 col-sm-push-1">
			<%= image_tag 'calculator.jpg', id: 'calculator' %>
	</div>
	<div class="col-sm-5 col-sm-push-1 section_1_right">
		<h1 class="title darkgrey">Funding sucess.</h1>
		<h4 class="content grey">Connecting young scholars with graphing calculators so they have the tools they need to thrive academically</h4>
		<div class="button-donate">Donate</div>
	</div>
</div>
<div class="row section_2">
	<div class="col-sm-8 col-sm-push-2 section_2_left">
		<p class="text-center white creatorsnote" id="note_title">ADMIN'S NOTE</p>
		<br />
		<p class="text white text-center" id="note">My name is Anna Davis. I am a 10th grade Algebra 2 teacher at City Arts and Tech High School in San Francisco. City Arts and Tech is a wonderful place for young men and women to grow and learn about the world. Unfortunately, our public funding leaves many of our students without the tools they need to succeed.<br /><br />
		Our school is in desperate need of graphing calculators. Many of our students come from modest backgrounds and are not able to supplement what our school fails to provide. If you have completed your own education and have a spare graphing calculator sitting around, we would be extremely grateful if you would be willing to donate it to our math program!  
		</p>
	</div>
	<div class="col-sm-5">
	</div>
</div>
<div class="row section_3">
	<div class="col-sm-5 col-sm-push-1">
		<h1 class="title darkgrey">Dig you know?</h1>
		<h4 class="content grey">Due to an extreme lack of funding, many public schools have had to cut entire subjects from their ciriculum to make ends meet. Even after eliminating music and physical education programs, educators often have personally purchase basic classroom supplies to ensure their students have the tools they need.</h4>
		<div class="button-donate">Learn More</div>
	</div>
	<div class="col-sm-4 col-sm-push-2">
			<%= image_tag 'pencil.jpg', class: 'picture' %>
	</div>
</div>
<div class="row section_4">
	<div class="col-sm-4 col-sm-push-1">
			<%= image_tag 'student2.jpg', class: 'picture_border' %>
	</div>
	<div class="col-sm-5 col-sm-push-2">
		<h1 class="title darkgrey">Future potential</h1>
		<h4 class="content grey">Currently, there is a huge shortage of available talent in the science, technology and engineering fields. By providing students with a solid foundation in Math, we not only expand their minds to new ideas, we also prepare them for success in the modern economy. </h4>
		<div class="button-donate">Donate</div>
	</div>
</div>
<div class="row section_5">
	<div class="col-sm-4 col-sm-push-1">
			<%= image_tag 'map.png', class: 'map' %>
	</div>
	<div class="col-sm-5 col-sm-push-2 section_5_right">
		<h1 class="title blue">Donate today.</h1>
		<h4 class="text grey">We are extremely grateful for your support! If you would like to send us a calculator, please address your package to the following address:  </h4>
		<p class="text white indented">
		<i>City Arts and Tech High School<br />
		325 La Grande Ave<br /> 
		San Francisco, CA 94112</i>
		</p>
		<h4 class="text grey">Calculators we receive will be used exclusively for educational purposes at City Arts and Tech High School.</h4>
	</div>	
</div>
<!-- <div class="row section_6">
		
</div> -->
<div class="row section_7">
	<div class="col-sm-8 col-sm-push-2">
		<h1 class="title white">Questions?</h1>
		<h4 class="text grey">We would love to hear from you! If you would like to get in touch, fill out this form and we will get back to you shortly.</h4>
		<br />
		<input class="form-control" placeholder="Name">
		<br />
		<input class="form-control" placeholder="Email">
		<br />
		<textarea rows="10" class="form-control" placeholder="Send us a message"></textarea>
		<br />
		<div class="button-send">Send</div>
	</div>	
</div>