<!DOCTYPE html>
<html>
  <head>
    <title>Calcs4Kids</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Damion|Slabo+27px" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta property="og:title" content="Calcs4Kids | Donate%>">
    <meta property="og:description" content="Connecting young scholars with graphing calculators so they have the tools they need to thrive academically.">
    <meta property="og:image" content="http://www.seaboltdesign.com/social.jpg">
    <meta property="og:url" content="http://www.calcs4kids.herokuapp.com">
    <meta name="twitter:card" content="summary_large_image">

  </head>

  <body>
  	<div class="container-fluid">
    	<%= yield %>
    </div>
  </body>
</html>
